.container {  display: grid;
    grid-template-columns: 39% 1.2fr;
    grid-template-rows: 0.2fr 1.8fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "displaying game"
      "footer footer";
      height: 100vh;
      background-color: antiquewhite;
  }
  
  .header { grid-area: header; }
  
  .displaying {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine"
      "ten";
    grid-area: displaying;
    background-color: rgb(255, 255, 255);
  }
  
  .one { grid-area: one; }
  
  .two { 
    grid-area: two; 
    background-color: rgb(156, 125, 81);
  }
  
  .three { grid-area: three; }
  
  .four { grid-area: four; background-color: rgb(156, 125, 81); }
  
  .five { grid-area: five;  }
  
  .six { grid-area: six; background-color: rgb(156, 125, 81); }
  
  .seven { grid-area: seven; }
  
  .eight { grid-area: eight; background-color: rgb(156, 125, 81); }
  
  .nine { grid-area: nine; }
  
  .ten { grid-area: ten; background-color: rgb(156, 125, 81); }
  
.game {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.3fr 0.9fr 0.9fr 0.9fr 0.9fr 0.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "rone"
      "rtwo"
      "rfive"
      "rfour"
      "rsix"
      "rthree";

    grid-area: game;
    background-color: rgb(255, 255, 255);
}
  
.rone { grid-area: rone;
    background-color: hsl(35, 18%, 21%); border-radius: 23px;
}
  
.rtwo { grid-area: rtwo; border-radius: 23px; background-color: rgb(203, 203, 203)
    
}
  
  .rthree { grid-area: rthree; border-radius: 23px;background-color: rgb(203, 203, 203) }
  
  .rfour { grid-area: rfour; border-radius: 23px;background-color: rgb(203, 203, 203) }
  
  .rfive { grid-area: rfive; background-color: rgb(203, 203, 203); border-radius: 23px; }
  
  .rsix { grid-area: rsix; background-color: rgb(203, 203, 203) ; border-radius: 23px;}
  
  .footer { grid-area: footer; }

  #first{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }

 button{
    border-width: 0px;
 }
 
 #sound{
  position:absolute;
  top: 7%;
  right: 4%;
  width: 50px;
 }
